// Your variable overrides
$headings-margin-bottom: 1rem;
$light: #d3e9eb;

@import '~bootstrap/scss/bootstrap';

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
  padding-bottom: 12rem;
}

.form-check > label {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.review-answers {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.form-check {
  position: relative;
  padding: 10px 0 10px 40px;
  text-align: left;

  label {
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      border-radius: 50%;
    }
    &:before {
      left: 5px;
      width: 25px;
      height: 25px;
      margin: -14px 0 0;
      background: #ffffff;
      box-shadow: 0 0 1px #0275d8;
    }
    &:after {
      left: 10px;
      width: 16px;
      height: 16px;
      margin: -9px 0 0;
      opacity: 0;
      background: #0275d8;
      transform: translate3d(-40px, 0, 0) scale(0.5);
      transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    }
  }

  input[type='radio'],
  input[type='checkbox'] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden;

    &:checked + label {
      &:before,
      &:after {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}

.styled-input-square {
  label {
    &:before,
    &:after {
      border: 1px solid #0275d8;
      border-radius: 0;
    }
  }
}

.styled-input-rounded {
  label {
    &:before {
      border: 1px solid #0275d8;
      border-radius: 100%;
    }
    &:after {
      border: 1px solid #0275d8;
      border-radius: 100%;
    }
  }
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
