// Your variable overrides
$headings-margin-bottom: 1rem;

// Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap';

.footer-link {
  transition: transform 200ms;
  display: inline-block;
  &:hover {
    transform: translateY(-2px);
    text-decoration: none;
  }
}
