@import '~bootstrap/scss/bootstrap';

a.social {
  margin: 0 0;
  transition: transform 200ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-1px);
}

a.linkedin {
  color: white;
}

a.github {
  color: white;
}

hr.clearfix {
  background-color: white;
  margin-top: 0rem;
  margin-bottom: 0rem;
  width: 100%;
  padding-right: 1rem;
}

.container {
  overflow: auto;
  padding-bottom: 126px;
}

footer {
  position: absolute;
  margin-top: -126px;
  width: 100%;
  bottom: 0;
}
